[submodule "vimfiles/bundle/vim-pathogen"]
	path = vimfiles/bundle/vim-pathogen
	url = https://github.com/tpope/vim-pathogen.git
[submodule "vimfiles/bundle/vim-fugitive"]
	path = vimfiles/bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "vimfiles/bundle/vim-airline"]
	path = vimfiles/bundle/vim-airline
	url = https://github.com/bling/vim-airline
[submodule "vimfiles/bundle/xoria256.vim"]
	path = vimfiles/bundle/xoria256.vim
	url = https://github.com/vim-scripts/xoria256.vim
[submodule "vimfiles/bundle/ctrlp.vim"]
	path = vimfiles/bundle/ctrlp.vim
	url = https://github.com/ctrlpvim/ctrlp.vim
[submodule "vimfiles/bundle/supertab"]
	path = vimfiles/bundle/supertab
	url = https://github.com/ervandew/supertab
[submodule "vimfiles/bundle/vim-dispatch"]
	path = vimfiles/bundle/vim-dispatch
	url = https://github.com/tpope/vim-dispatch.git
[submodule "vimfiles/bundle/ghcmod-vim"]
	path = vimfiles/bundle/ghcmod-vim
	url = https://github.com/eagletmt/ghcmod-vim
[submodule "vimfiles/bundle/vimproc.vim"]
	path = vimfiles/bundle/vimproc.vim
	url = https://github.com/Shougo/vimproc.vim.git
[submodule "vimfiles/bundle/neco-ghc"]
	path = vimfiles/bundle/neco-ghc
	url = https://github.com/eagletmt/neco-ghc.git
[submodule "vimfiles/bundle/vim-surround"]
	path = vimfiles/bundle/vim-surround
	url = git://github.com/tpope/vim-surround.git
[submodule "vimfiles/bundle/vim-repeat"]
	path = vimfiles/bundle/vim-repeat
	url = git://github.com/tpope/vim-repeat.git
[submodule "vimfiles/bundle/vim-unimpaired"]
	path = vimfiles/bundle/vim-unimpaired
	url = https://github.com/tpope/vim-unimpaired.git
[submodule "vimfiles/bundle/goyo.vim"]
	path = vimfiles/bundle/goyo.vim
	url = https://github.com/junegunn/goyo.vim
[submodule "vimfiles/bundle/limelight.vim"]
	path = vimfiles/bundle/limelight.vim
	url = https://github.com/junegunn/limelight.vim
[submodule "vimfiles/bundle/tagbar"]
	path = vimfiles/bundle/tagbar
	url = https://github.com/majutsushi/tagbar
[submodule "vimfiles/bundle/vim-sensible"]
	path = vimfiles/bundle/vim-sensible
	url = https://github.com/tpope/vim-sensible
[submodule "vimfiles/bundle/vim-textobj-entire"]
	path = vimfiles/bundle/vim-textobj-entire
	url = https://github.com/kana/vim-textobj-entire.git
[submodule "vimfiles/bundle/vim-textobj-user"]
	path = vimfiles/bundle/vim-textobj-user
	url = https://github.com/kana/vim-textobj-user.git
[submodule "vimfiles/bundle/targets.vim"]
	path = vimfiles/bundle/targets.vim
	url = https://github.com/wellle/targets.vim.git
[submodule "vimfiles/bundle/vim-textobj-quote"]
	path = vimfiles/bundle/vim-textobj-quote
	url = https://github.com/reedes/vim-textobj-quote
[submodule "vimfiles/bundle/vim-textobj-sentence"]
	path = vimfiles/bundle/vim-textobj-sentence
	url = https://github.com/reedes/vim-textobj-sentence
[submodule "vimfiles/bundle/vim-pencil"]
	path = vimfiles/bundle/vim-pencil
	url = https://github.com/reedes/vim-pencil
[submodule "vimfiles/bundle/vim-markdown"]
	path = vimfiles/bundle/vim-markdown
	url = http://github.com/tpope/vim-markdown
[submodule "vimfiles/bundle/vim-lexical"]
	path = vimfiles/bundle/vim-lexical
	url = https://github.com/reedes/vim-lexical
[submodule "vimfiles/bundle/vim-sneak"]
	path = vimfiles/bundle/vim-sneak
	url = https://github.com/justinmk/vim-sneak
[submodule "vimfiles/bundle/gruvbox"]
	path = vimfiles/bundle/gruvbox
	url = https://github.com/morhetz/gruvbox
[submodule "vimfiles/bundle/vim-dirvish"]
	path = vimfiles/bundle/vim-dirvish
	url = https://github.com/justinmk/vim-dirvish
[submodule "vimfiles/bundle/vim-gitgutter"]
	path = vimfiles/bundle/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter
[submodule "vimfiles/bundle/vim-signature"]
	path = vimfiles/bundle/vim-signature
	url = https://github.com/kshenoy/vim-signature
[submodule "vimfiles/bundle/editorconfig-vim"]
	path = vimfiles/bundle/editorconfig-vim
	url = https://github.com/editorconfig/editorconfig-vim
[submodule "vimfiles/bundle/vim-commentary"]
	path = vimfiles/bundle/vim-commentary
	url = https://github.com/tpope/vim-commentary
[submodule "vimfiles/bundle/vim-markdown-enhancements"]
	path = vimfiles/bundle/vim-markdown-enhancements
	url = https://github.com/mattly/vim-markdown-enhancements.git
