[user]
	name = George Pollard
{{- if eq .chezmoi.hostname "gpollard-pc" }}
	email = "gpollard@microsoft.com"
{{- else }}
	email = "porges@porg.es"
{{- end }}
[credential]
	helper = wincred
[branch]
	autosetuprebase = always
[diff]
	algorithm = histogram
[fetch]
	prune = true
	pruneTags = true
[init]
	defaultBranch = main
[merge]
	conflictStyle = diff3
[pull]
	rebase = merges
[push]
	default = upstream
	autoSetupRemote = true
[rebase]
	autosquash = true
[submodule]
	recurse = true
