"$schema" = "https://jj-vcs.github.io/jj/latest/config-schema.json"

[user]
name = "George Pollard"
{{- if eq .chezmoi.hostname "gpollard-pc" }}
email = "gpollard@microsoft.com"
{{- else }}
email = "porges@porg.es"
{{- end }}

[revsets]
log = 'present(@) | ancestors(trunk()..(visible_heads() & mine()), 2) | present(trunk())'

[ui]
default-command = "log"
editor = "code.cmd -w"

[revset-aliases]
HEAD = "@"

[git]
push-new-bookmarks = true
private-commits = "description(glob:'wip:*') | description(glob:'private:*')"

[template-aliases]
'format_short_signature(signature)' = 'signature.email().local()'
'format_timestamp(timestamp)' = 'timestamp.ago()'

[working-copy]
eol-conversion = "input-output"
